@charset "UTF-8";
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
body {
  overflow-x: hidden;
  background-color: rgb(253, 252, 249);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
}

footer {
  width: 100%;
  height: 230px;
  border-top: 1px solid #000;
  position: relative;
}
footer .inner {
  width: 1500px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
footer .inner h2 {
  width: 100%;
  height: 100%;
}
footer .inner h2 a {
  display: block;
  width: 190px;
  height: 55px;
  position: absolute;
  top: 50%;
  left: -2%;
  transform: translate(2%, -50%);
}
footer .inner h2 a img {
  width: 100%;
  height: 100%;
}
footer .inner div ul {
  width: 100%;
  display: flex;
  gap: 50px;
  position: absolute;
  top: 30%;
  left: 14%;
}
footer .inner div ul li:nth-of-type(1) a {
  font-size: 18px;
  font-family: "Pretendard-Regular";
  font-weight: 600;
  text-align: center;
  line-height: 1;
  color: #454343;
}
footer .inner div ul li:nth-of-type(2) a {
  font-size: 18px;
  font-family: "Pretendard-Regular";
  font-weight: 500;
  text-align: center;
  line-height: 1;
  color: #454343;
}
footer .inner div ul li:nth-of-type(3) a {
  font-size: 18px;
  font-family: "Pretendard-Regular";
  font-weight: 500;
  text-align: center;
  line-height: 1;
  color: #454343;
}
footer .inner div address {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 30%;
  left: 14%;
  font-size: 20px;
  font-family: "Pretendard-Regular";
  font-weight: 500;
  text-align: center;
  line-height: 1;
  color: #454343;
}
footer .inner div p {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 18%;
  left: 14%;
  font-size: 20px;
  font-family: "Pretendard-Regular";
  font-weight: 500;
  text-align: center;
  line-height: 1;
  color: #454343;
}
footer .inner select {
  width: 250px;
  height: 50px;
  background-color: #144192;
  border-radius: 50px;
  font-size: 20px;
  font-family: "Pretendard-Regular";
  font-weight: 300;
  text-align: center;
  line-height: 1;
  color: #fff;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
}
footer .inner select option:nth-of-type(1) {
  font-size: 20px;
  font-family: "Pretendard-Regular";
  font-weight: 300;
  text-align: center;
  line-height: 1;
  color: #fff;
}
footer .inner select option:nth-of-type(2) {
  font-size: 20px;
  font-family: "Pretendard-Regular";
  font-weight: 300;
  text-align: center;
  line-height: 1;
  color: #fff;
}
footer .inner select option:nth-of-type(3) {
  font-size: 20px;
  font-family: "Pretendard-Regular";
  font-weight: 300;
  text-align: center;
  line-height: 1;
  color: #fff;
}
footer .inner select option:nth-of-type(4) {
  font-size: 20px;
  font-family: "Pretendard-Regular";
  font-weight: 300;
  text-align: center;
  line-height: 1;
  color: #fff;
}
footer .inner select option:nth-of-type(5) {
  font-size: 20px;
  font-family: "Pretendard-Regular";
  font-weight: 300;
  text-align: center;
  line-height: 1;
  color: #fff;
}
footer .inner select option:nth-of-type(6) {
  font-size: 20px;
  font-family: "Pretendard-Regular";
  font-weight: 300;
  text-align: center;
  line-height: 1;
  color: #fff;
}
footer .inner select option:nth-of-type(7) {
  font-size: 20px;
  font-family: "Pretendard-Regular";
  font-weight: 300;
  text-align: center;
  line-height: 1;
  color: #fff;
}
footer .inner select option:nth-of-type(8) {
  font-size: 20px;
  font-family: "Pretendard-Regular";
  font-weight: 300;
  text-align: center;
  line-height: 1;
  color: #fff;
}
footer .sns {
  width: 230px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 20%;
  left: 60%;
  transform: translate(-60%, -20%);
}
footer .sns ul {
  width: 100%;
  height: 100%;
}
footer .sns ul a {
  display: block;
}
footer .sns ul a img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

header {
  width: 100%;
  overflow: hidden;
}
header .inner {
  width: 1180px;
  height: 350px;
  margin: 0 auto;
  position: relative;
}
header .inner h1 {
  width: 100%;
  margin: 0 auto;
}
header .inner h1 a img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .inner .util {
  position: absolute;
  top: 20px;
  right: 0;
}
header .inner .util ul {
  display: flex;
  gap: 20px;
}
header .inner .util ul li a {
  font-size: 18px;
  font-family: "Pretendard-Regular";
  font-weight: 300;
  color: #000;
}
header #gnb {
  position: absolute;
  width: 100%;
  bottom: 30px;
}
header #gnb ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header #gnb ul li a {
  font-size: 26px;
  font-family: Pretendard-Regular;
  font-weight: 600;
  color: #000;
}
header .gnbCall {
  position: absolute;
  top: 45%;
  right: 10%;
  transform: translateY(-45%);
  width: 40px;
  height: 40px;
}
header .gnbCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 6px;
  border-radius: 3px;
  background-color: #144192;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.5s 0s, transform 0.5s 0.5s;
}
header .gnbCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 6px;
  border-radius: 3px;
  background-color: #144192;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: bottom 0.5s 0s, transform 0.5s 0.5s;
}
header .gnbCall span {
  display: block;
  width: 100%;
  height: 6px;
  border-radius: 3px;
  background-color: #144192;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s;
  margin-top: -1px;
  text-indent: -99999px;
}
header .gnbCall.on::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}
header .gnbCall.on::after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
}
header .gnbCall.on span {
  transform: translateX(100%);
  opacity: 0;
}

@media screen and (max-width: 1180px) {
  header .inner {
    width: 100%;
    height: 200px;
  }
  header .inner h1 a img {
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
  }
  header .inner .util {
    display: none;
  }
  header #gnb {
    display: none;
  }
}
aside {
  width: 100%;
  height: 100%;
  position: relative;
}
aside .up {
  width: 1920px;
  height: 100%;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
}
aside .up img {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 60%;
  right: -120px;
  transform: translateY(-60%);
}

#slide {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  overflow: hidden;
}
#slide .inner {
  width: 1920px;
  height: 970px;
  position: relative;
  margin: 0 auto;
}
#slide .inner .wrap {
  width: 500%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}
#slide .inner .wrap ul {
  width: 20%;
  height: 100%;
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .cass {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .cass img {
  width: 100%;
  height: 970px;
}
#slide .inner .wrap ul .ob {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .ob img {
  width: 100%;
  height: 970px;
}
#slide .inner .wrap ul .hand {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .hand img {
  width: 100%;
  height: 970px;
}
#slide .inner .wrap ul .bud {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .bud img {
  width: 100%;
  height: 970px;
}
#slide .inner .button {
  width: 200px;
  height: 40px;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -2%);
}
#slide .inner .button ul {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#slide .inner .button ul a {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #dddddd;
  opacity: 0.5;
}

@media screen and (max-width: 1180px) {
  #slide {
    width: 100vw;
    height: 70vh;
  }
  #slide .inner {
    width: 100%;
    height: 100%;
  }
  #slide .inner .wrap ul .cass {
    background-image: url(/img_reactive/cass_slide_other.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
  }
  #slide .inner .wrap ul .cass img {
    display: none;
  }
  #slide .inner .wrap ul .ob {
    background-image: url(/img_reactive/ob_slide_other.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
  }
  #slide .inner .wrap ul .ob img {
    display: none;
  }
  #slide .inner .wrap ul .hand {
    background-image: url(/img_reactive/hand_slide_other.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
  }
  #slide .inner .wrap ul .hand img {
    display: none;
  }
  #slide .inner .wrap ul .bud {
    background-image: url(/img_reactive/bud_slide_other.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
  }
  #slide .inner .wrap ul .bud img {
    display: none;
  }
}
#menu {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
}
#menu .inner {
  width: 1500px;
  height: 816px;
  position: relative;
  margin: 0 auto;
  display: flex;
}
#menu .inner .hanMac {
  width: 740px;
  height: 816px;
  background-color: #014e3a;
  position: relative;
  top: 0;
  left: 0;
  margin-right: 20px;
}
#menu .inner .hanMac:hover {
  transition: all 0.3s;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
#menu .inner .hanMac img {
  width: 100%;
  height: 100%;
}
#menu .inner .hanMac h2 {
  width: 100%;
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -34%);
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 40px;
  line-height: 1;
  color: #ba962d;
  text-align: center;
}
#menu .inner .hanMac p:nth-of-type(1) {
  width: 100%;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -52%);
  font-family: "Pretendard-Regular";
  font-weight: 200;
  font-size: 26px;
  line-height: 1.3;
  color: #fff;
  text-align: center;
}
#menu .inner .hanMac p:nth-of-type(2) {
  width: 100%;
  position: absolute;
  bottom: 23%;
  left: 50%;
  transform: translate(-50%, -23%);
  font-family: "Pretendard-Regular";
  font-weight: 400;
  font-size: 26px;
  line-height: 1.3;
  color: #ba962d;
  text-align: center;
}
#menu .inner .hanMac p:nth-of-type(3) {
  width: 100%;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  font-family: "Pretendard-Regular";
  font-weight: 400;
  font-size: 26px;
  line-height: 1.3;
  color: #b3ae7a;
  text-align: center;
}
#menu .inner .cs {
  width: 360px;
  height: 398px;
  position: relative;
  top: 0;
  left: 0;
  margin-right: 20px;
}
#menu .inner .cs:hover {
  transition: all 0.3s;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
#menu .inner .cs::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(71, 58, 5, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
#menu .inner .cs img {
  width: 100%;
  height: 100%;
}
#menu .inner .cs h2 {
  width: 100%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 45px;
  line-height: 1;
  color: #fff;
  text-align: center;
}
#menu .inner .cs h3 {
  width: 100%;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  font-family: "Pretendard-Regular";
  font-weight: 100;
  font-size: 50px;
  line-height: 1.2;
  color: #fff;
  text-align: left;
  padding: 0 20px;
}
#menu .inner .hire {
  width: 360px;
  height: 398px;
  position: absolute;
  top: 0;
  right: 0;
}
#menu .inner .hire:hover {
  transition: all 0.3s;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
#menu .inner .hire::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
#menu .inner .hire img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#menu .inner .hire h2 {
  width: 100%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 45px;
  line-height: 1;
  color: #fff;
  text-align: center;
}
#menu .inner .hire h3 {
  width: 100%;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  font-family: "Pretendard-Regular";
  font-weight: 100;
  font-size: 50px;
  line-height: 1.2;
  color: #fff;
  text-align: left;
  padding: 0 20px;
}
#menu .inner .hoeGaarden {
  width: 740px;
  height: 398px;
  background-color: #002066;
  position: absolute;
  bottom: 0;
  right: 0;
}
#menu .inner .hoeGaarden:hover {
  transition: all 0.3s;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
#menu .inner .hoeGaarden h2 {
  width: 100%;
  position: absolute;
  top: 20%;
  left: 10%;
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 34px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  color: #b4c6ea;
  text-align: left;
  padding: 0 30px;
}
#menu .inner .hoeGaarden p {
  width: 100%;
  position: absolute;
  bottom: 20%;
  left: 10%;
  font-family: "Pretendard-Regular";
  font-weight: 200;
  font-size: 15px;
  line-height: 1.4;
  color: #b4c6ea;
  text-align: left;
  padding: 0 30px;
}
#menu .inner .hoeGaarden img:nth-of-type(1) {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#menu .inner .hoeGaarden img:nth-of-type(2) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#banner {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  overflow: hidden;
}
#banner .inner {
  width: 1920px;
  height: 627px;
  position: relative;
  margin: 0 auto;
  background-color: #000;
  background-image: url(/img/open_innovation.img/오픈이노베니션_person.png);
}
#banner .inner .txt {
  width: 100%;
  height: 100%;
}
#banner .inner .txt p:nth-of-type(1) {
  width: 100%;
  font-family: "Pretendard-Regular";
  font-weight: 200;
  font-size: 26px;
  line-height: 1;
  color: #fff;
  text-align: left;
  padding-top: 120px;
  padding-left: 210px;
  letter-spacing: 2px;
}
#banner .inner .txt p:nth-of-type(1) strong {
  font-size: 40px;
}
#banner .inner .txt h3 {
  width: 100%;
  font-family: "Pretendard-Regular";
  font-weight: 300;
  font-size: 60px;
  line-height: 1;
  color: #fff;
  text-align: left;
  padding-top: 40px;
  padding-left: 210px;
  letter-spacing: 2px;
}
#banner .inner .txt p:nth-of-type(2) {
  width: 100%;
  font-family: "Pretendard-Regular";
  font-weight: 200;
  font-size: 26px;
  line-height: 1.4;
  color: #fff;
  text-align: left;
  padding-left: 210px;
  padding-top: 40px;
  letter-spacing: 2px;
}
#banner .inner .txt button {
  width: 320px;
  height: 90px;
  background-color: #00392a;
  border-radius: 50px;
  position: absolute;
  left: 210px;
  bottom: 120px;
}
#banner .inner .txt button:hover {
  transition: 0.5s;
  background-color: #fff;
  -webkit-text-fill-color: #00392a;
}
#banner .inner .txt button a {
  display: block;
  width: 100%;
  font-family: "Pretendard-Regular";
  font-weight: 100;
  font-size: 30px;
  line-height: 1.4;
  color: #fff;
  text-align: center;
  line-height: 90px;
  letter-spacing: 2px;
}

#aboutOB {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 250px;
  overflow: hidden;
}
#aboutOB .inner {
  width: 1500px;
  height: 700px;
  position: relative;
  margin: 0 auto;
  display: flex;
}
#aboutOB .inner article:nth-of-type(1) {
  width: 740px;
  height: 700px;
  position: relative;
  top: 0;
  left: 0;
  margin-right: 20px;
  background-color: #cd2034;
}
#aboutOB .inner article:nth-of-type(1) .pic {
  width: 100%;
  height: 100%;
}
#aboutOB .inner article:nth-of-type(1) .pic::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
#aboutOB .inner article:nth-of-type(1) .pic img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
#aboutOB .inner article:nth-of-type(1) h2 {
  width: 100%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 50px;
  text-align: center;
  line-height: 1;
  color: #fff;
}
#aboutOB .inner article:nth-of-type(1) p {
  width: 100%;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -52%);
  font-family: "Pretendard-Regular";
  font-weight: 400;
  font-size: 35px;
  text-align: center;
  line-height: 1.5;
  color: #fff;
}
#aboutOB .inner article:nth-of-type(1) a {
  width: 320px;
  height: 90px;
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translate(-50%, -12%);
}
#aboutOB .inner article:nth-of-type(1) a:hover {
  transition: 0.5s;
  border: 2px solid #fff;
}
#aboutOB .inner article:nth-of-type(1) a span {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Pretendard-Regular";
  font-weight: 300;
  font-size: 35px;
  text-align: center;
  line-height: 90px;
  color: #fff;
}
#aboutOB .inner article:nth-of-type(2) {
  width: 740px;
  height: 700px;
  position: relative;
  top: 0;
  left: 0;
}
#aboutOB .inner article:nth-of-type(2) .pic1 {
  width: 100%;
  height: 100%;
}
#aboutOB .inner article:nth-of-type(2) .pic1::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
#aboutOB .inner article:nth-of-type(2) img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
#aboutOB .inner article:nth-of-type(2) h2 {
  width: 100%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 50px;
  text-align: center;
  line-height: 1;
  color: #fff;
}
#aboutOB .inner article:nth-of-type(2) p {
  width: 100%;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -52%);
  font-family: "Pretendard-Regular";
  font-weight: 400;
  font-size: 35px;
  text-align: center;
  line-height: 1.5;
  color: #fff;
}
#aboutOB .inner article:nth-of-type(2) a {
  width: 320px;
  height: 90px;
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translate(-50%, -12%);
}
#aboutOB .inner article:nth-of-type(2) a:hover {
  transition: 0.5s;
  border: 2px solid #fff;
}
#aboutOB .inner article:nth-of-type(2) a span {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Pretendard-Regular";
  font-weight: 300;
  font-size: 35px;
  text-align: center;
  line-height: 90px;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
