@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
}
header .inner {
  width: 1180px;
  height: 350px;
  margin: 0 auto;
  position: relative;
}
header .inner h1 {
  width: 100%;
  margin: 0 auto;
}
header .inner h1 a img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}
header .inner .util {
  position: absolute;
  top: 20px;
  right: 0;
}
header .inner .util ul {
  display: flex;
  gap: 20px;
}
header .inner .util ul li a {
  font-size: 18px;
  font-family: "Pretendard-Regular";
  font-weight: 300;
  color: #000;
}
header #gnb {
  position: absolute;
  width: 100%;
  bottom: 30px;
}
header #gnb ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header #gnb ul li a {
  font-size: 26px;
  font-family: Pretendard-Regular;
  font-weight: 600;
  color: #000;
}

#slide {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}
#slide .inner {
  width: 1920px;
  height: 970px;
  position: relative;
  margin: 0 auto;
}
#slide .inner .wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .cass {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .cass img {
  width: 100%;
  height: 970px;
}
#slide .inner .wrap ul .cass img:nth-of-type(1) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .cass img:nth-of-type(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .cass img:nth-of-type(3) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .cass img:nth-of-type(4) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .cass img:nth-of-type(5) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .cass img:nth-of-type(6) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .cass img:nth-of-type(7) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .ob {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .ob img {
  width: 100%;
  height: 970px;
}
#slide .inner .wrap ul .ob img:nth-of-type(1) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .ob img:nth-of-type(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .ob img:nth-of-type(3) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .ob img:nth-of-type(4) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .ob img:nth-of-type(5) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .ob img:nth-of-type(6) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .ob img:nth-of-type(7) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .hand {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .hand img {
  width: 100%;
  height: 970px;
}
#slide .inner .wrap ul .hand img:nth-of-type(1) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .hand img:nth-of-type(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .hand img:nth-of-type(3) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .hand img:nth-of-type(4) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .hand img:nth-of-type(5) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .hand img:nth-of-type(6) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .hand img:nth-of-type(7) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .hand img:nth-of-type(8) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .hand img:nth-of-type(9) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .hand img:nth-of-type(10) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .hand img:nth-of-type(11) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .hand img:nth-of-type(12) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .hand img:nth-of-type(13) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .bud {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .bud img {
  width: 100%;
  height: 970px;
}
#slide .inner .wrap ul .bud img:nth-of-type(1) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .bud img:nth-of-type(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .bud img:nth-of-type(3) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .bud img:nth-of-type(4) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .bud img:nth-of-type(5) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .bud img:nth-of-type(6) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .bud img:nth-of-type(7) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .bud img:nth-of-type(8) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .bud img:nth-of-type(9) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .wrap ul .bud img:nth-of-type(10) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide .inner .button {
  width: 200px;
  height: 40px;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -2%);
}
#slide .inner .button ul {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#slide .inner .button ul a {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #dddddd;
  opacity: 0.5;
}

#menu {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}
#menu .inner {
  width: 1500px;
  height: 816px;
  position: relative;
  margin: 0 auto;
  display: flex;
}
#menu .inner .hanMac {
  width: 740px;
  height: 816px;
  background-color: #014e3a;
  position: relative;
  top: 0;
  left: 0;
  margin-right: 20px;
}
#menu .inner .hanMac img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#menu .inner .hanMac h2 {
  width: 100%;
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -34%);
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 40px;
  line-height: 1;
  color: #ba962d;
  text-align: center;
}
#menu .inner .hanMac p:nth-of-type(1) {
  width: 100%;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -52%);
  font-family: "Pretendard-Regular";
  font-weight: 200;
  font-size: 26px;
  line-height: 1.3;
  color: #fff;
  text-align: center;
}
#menu .inner .hanMac p:nth-of-type(2) {
  width: 100%;
  position: absolute;
  bottom: 23%;
  left: 50%;
  transform: translate(-50%, -23%);
  font-family: "Pretendard-Regular";
  font-weight: 400;
  font-size: 26px;
  line-height: 1.3;
  color: #ba962d;
  text-align: center;
}
#menu .inner .hanMac p:nth-of-type(3) {
  width: 100%;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  font-family: "Pretendard-Regular";
  font-weight: 400;
  font-size: 26px;
  line-height: 1.3;
  color: #b3ae7a;
  text-align: center;
}
#menu .inner .cs {
  width: 360px;
  height: 398px;
  position: relative;
  top: 0;
  left: 0;
  margin-right: 20px;
}
#menu .inner .cs img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#menu .inner .cs h2 {
  width: 100%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 45px;
  line-height: 1;
  color: #fff;
  text-align: center;
}
#menu .inner .cs h3 {
  width: 100%;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  font-family: "Pretendard-Regular";
  font-weight: 200;
  font-size: 50px;
  line-height: 1.2;
  color: #fff;
  text-align: left;
  padding: 0 20px;
}
#menu .inner .hire {
  width: 360px;
  height: 398px;
  position: absolute;
  top: 0;
  right: 0;
}
#menu .inner .hire img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#menu .inner .hire h2 {
  width: 100%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 45px;
  line-height: 1;
  color: #fff;
  text-align: center;
}
#menu .inner .hire h3 {
  width: 100%;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  font-family: "Pretendard-Regular";
  font-weight: 200;
  font-size: 50px;
  line-height: 1.2;
  color: #fff;
  text-align: left;
  padding: 0 20px;
}
#menu .inner .hoeGaarden {
  width: 740px;
  height: 398px;
  background-color: #002066;
  position: absolute;
  bottom: 0;
  right: 0;
}
#menu .inner .hoeGaarden h2 {
  width: 100%;
  position: absolute;
  top: 20%;
  left: 10%;
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 34px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  color: #b4c6ea;
  text-align: left;
  padding: 0 30px;
}
#menu .inner .hoeGaarden p {
  width: 100%;
  position: absolute;
  bottom: 20%;
  left: 10%;
  font-family: "Pretendard-Regular";
  font-weight: 200;
  font-size: 15px;
  line-height: 1.4;
  color: #b4c6ea;
  text-align: left;
  padding: 0 30px;
}
#menu .inner .hoeGaarden img:nth-of-type(1) {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#menu .inner .hoeGaarden img:nth-of-type(2) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*# sourceMappingURL=style.css.map */
