#slide {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 20px;
	overflow: hidden;

	.inner {
		width: 1920px;
		height: 970px;
		position: relative;
		margin: 0 auto;

		.wrap {
			width: calc(100% * 5);
			height: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: all 0.5s;

			ul {
				width: calc(100% / 5);
				height: 100%;
				background-repeat: repeat;
				background-position: center;
				background-size: cover;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				.cass {
					width: 100%;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					img {
						width: 100%;
						height: 970px;
					}
				}
				.ob {
					width: 100%;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					img {
						width: 100%;
						height: 970px;
					}
				}
				.hand {
					width: 100%;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					img {
						width: 100%;
						height: 970px;
					}
				}
				.bud {
					width: 100%;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					img {
						width: 100%;
						height: 970px;
					}
				}
			}
		}
		.button {
			width: 200px;
			height: 40px;
			position: absolute;
			bottom: 2%;
			left: 50%;
			transform: translate(-50%, -2%);

			ul {
				width: 100%;
				height: 100%;
				padding: 20px;
				display: flex;
				justify-content: space-between;
				align-items: center;

				a {
					display: block;
					width: 20px;
					height: 20px;
					border-radius: 50%;
					background-color: #dddddd;
					opacity: 0.5;
				}
			}
		}
	}
}
@media screen and (max-width: 900px) {
	#slide {
		width: 100vw;
		height: 70vh;
		margin-bottom: 10px;

		.inner {
			width: 100%;
			height: 100%;

			.wrap {
				ul {
					.cass {
						img {
							display: none;
						}
						background-image: url(../img_tablet/cass_slide_other.png);
						background-repeat: no-repeat;
						background-position: center;
						background-size: cover;
						height: 100%;
					}
					.ob {
						img {
							display: none;
						}
						background-image: url(../img_tablet/ob_slide_other.png);
						background-repeat: no-repeat;
						background-position: center;
						background-size: cover;
						height: 100%;
					}
					.hand {
						img {
							display: none;
						}
						background-image: url(../img_tablet/hand_slide_other.png);
						background-repeat: no-repeat;
						background-position: center;
						background-size: cover;
						height: 100%;
					}
					.bud {
						img {
							display: none;
						}
						background-image: url(../img_tablet/bud_slide_other.png);

						background-repeat: no-repeat;
						background-position: center;
						background-size: cover;
						height: 100%;
					}
				}
			}
		}
	}
}
